table {
     width: 50%;
     border-collapse: collapse;
     margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: powderblue;
    text-align: center;
    vertical-align: middle;
}

